<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cangqiong.mapper.AddressMapper">


    <insert id="addAddress">
        insert into address_book(city_code,
                                 city_name,
                                 consignee,
                                 detail,
                                 district_code,
                                 district_name,
                                 is_default,
                                 label,
                                 phone,
                                 province_code,
                                 province_name,
                                 sex,
                                 user_id)
        values (#{cityCode}, #{cityName}, #{consignee}, #{detail}, #{districtCode}, #{districtName} ,
                #{isDefault}, #{label}, #{phone}, #{provinceCode}, #{provinceName}, #{sex}, #{userId})

    </insert>
    <update id="setAddressBook" parameterType="com.example.cangqiong.dto.Address">
        UPDATE address_book
        SET
        city_code = #{cityCode},
        city_name = #{cityName},
        consignee = #{consignee},
        detail = #{detail},
        district_code = #{districtCode},
        district_name = #{districtName},
        is_default = #{isDefault},
        label = #{label},
        phone = #{phone},
        province_code = #{provinceCode},
        province_name = #{provinceName}
        <if test="sex != null and sex != ''">
            , sex = #{sex}
        </if>
        WHERE
        id = #{id}
    </update>
</mapper>
