<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cangqiong.mapper.DishMapper">

    <insert id="addDish">
        insert into dish (name,
                          category_id,
                          price,
                          create_user,
                          description,
                          image,
                          status,
                          update_time,
                          update_user,
                          create_time,
                          create_user)

        values (#{name},
                #{categoryId},
                #{price},
                #{createUser},
                #{description},
                #{image},
                #{status},
                #{updateTime},
                #{updateUser},
                #{createTime},
                #{createUser}
                )
    </insert>
</mapper>
