<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cangqiong.mapper.DishMapper">

    <insert id="addDish">
        insert into dish (name,
                          category_id,
                          price,
                          create_user,
                          description,
                          image,
                          status,
                          update_time,
                          update_user,
                          create_time,
                          create_user)

        values (#{name},
                #{categoryId},
                #{price},
                #{createUser},
                #{description},
                #{image},
                #{status},
                #{updateTime},
                #{updateUser},
                #{createTime},
                #{createUser}
                )
    </insert>

    <select id="page"  resultType="com.example.cangqiong.dto.DishDto" >
        select
        id,
        name,
        price,
        status,
        category_id as categoryId,
        create_time as createTime,
        create_user as createUser,
        description,
        image,
        update_time as updateTime,
        update_user as updateUser
        from dish
        <where>
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
</mapper>
